<%= form_for @item_category do |f| %>
  
  <p>
    <%= f.label :name, "Nombre" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :image_url, "Url de Imagen o Icono" %><br />
    <%= f.text_area :image_url, :size => "40x4" %>
  </p>
  <p>
    <%= f.label :description, "Descripción" %><br />
    <%= f.text_area :description, :size => "40x4" %>
  </p>
  <p><%= f.submit %></p>
<% end %>
