.container-fluid
  .row-fluid
    .span12.box2
      .row-fluid
        .span7
          %h2= t(:why_meetrico)
          %p= t(:why_meetrico_main_content)
          %ul
            %li= t(:why_meetrico_item_1)
            %li= t(:why_meetrico_item_2)
            %li= t(:why_meetrico_item_3)
        .span5
          .box2
            = image_tag 'welcome/about/teamwork.jpeg'
