.container-fluid
  .row-fluid
    .span12
      %h2 Contactanos
      %ul#contacto
        %li
          %i.name
          = t(:contact_name)
        %li
          %i.email
          = t(:contact_email)
        %li
          %i.phone
          = t(:contact_phone)
        %li
          %i.cell
          = t(:contact_cell)
        %li
          %i.pin
          = t(:contact_pin)