<div class="nav_footer">
  <%= link_to "Meetrico", about_path , :class => "item_footer"  %> 
  <%= link_to "Nosotros", us_path , :class => "item_footer" %> 
  <%= link_to "Franquicia Social", '#', :class => "item_footer" %> 
  <%= link_to "Testimonios", testimonios_path , :class => "item_footer"%> 
  <%= link_to "Ciudad Digital", ciudad_digital_path, :class => "item_footer" %> 
  <%= link_to "Prensa", prensa_path , :class => "item_footer"%> 
  <%= link_to "FAQ", faq_path, :class => "item_footer" %>
  <%= link_to "Contacto", contact_path, :class => "item_footer" %>
  <%= link_to "Admin", admins_path, :class => "item_footer" %>

</div>
<div class="partners">
  <div class="text_footer">TRABAJAMOS CON:</div>
  <div class="img_partners"><%= image_tag("welcome/logo_utopic.png", :size => "179x39") %></div>
  <div class="img_partners"><%= image_tag("welcome/logo_aje.png", :size => "120x54") %></div>
</div>
<div class="lapapaya">
  <div class="logo_lapapaya"><%= image_tag("welcome/LaPapaya.png", :size => "92x98") %></div>
<a href="#">Developed by <span class="a_papaya">Lapapaya.org</span> system</a></div>

