<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Metrocubic - Owner</title>
    <%= stylesheet_link_tag 'base' %>
    <%= stylesheet_link_tag 'themes/owners/style' %>
    <%= stylesheet_link_tag 'themes/blue/style' %>
    <%= stylesheet_link_tag 'jui/jquery-ui' %>    
    <%= stylesheet_link_tag 'jui/redmond/jquery-ui-1.8.5.custom' %>
    <%= javascript_include_tag 'jquery', 'jquery-ui', 'rails', 'application'%>
    <%= javascript_include_tag 'jquery.tools.min' %>
    <%= javascript_include_tag 'jquery.form' %>
    <%= javascript_include_tag 'jquery.validate' %>
    <%= javascript_include_tag 'additional-methods' %>
    <%= javascript_include_tag 'jquery.tablesorter' %>
    <%= javascript_include_tag 'modules/activities' %>
    <%= javascript_include_tag 'modules/coworking_spaces' %>


    <%= csrf_meta_tag %>

  </head>
  <body>
    <div id="container">
      <div id="header">
        <section>
          <a href="/"><%= image_tag("logo3.png", :size => "220x70") %></a>
        </section>
        <div id="user-navigation">
          <ul>
            <li><%= link_to "Inicio", root_url %></li>
            <% if current_user and current_user.owner? %>
              <li><%= link_to "Mi espacio", "/owners" %></li>
            <% else %>
            <li><%= link_to "Conoce Metro Cubic", about_path %></li>
            <% end %>
            <% if user_signed_in? %>
              <li><%= link_to current_user.email, user_path(current_user)  %></li>
              <li><%= link_to "Cerrar sesi칩n", destroy_user_session_path %></li>

            <% else %>
              <li><%= link_to "Crear cuenta", new_user_registration_path %></li>
              <li>
                <%= link_to "Acceder", new_user_session_path %>
                <%= link_to "Iniciar sesi칩n con Facebook", "/auth/facebook", :class => "facebook_login" %>
              <% end %>
            </li>
          </ul>
        </div>

      </div>
      <div id="wrapper" class="wat-cf owner_color">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <div id="main">
          <div class="block">
            <div class="content">
              <div class="inner">
                <%= yield %>
              </div>
            </div>
          </div>
          <div id="footer">
            <div class="block">
              <p>Copyright Meetrico 2011. Space sharing</p>
            </div>
          </div>
        </div>
        <div id="sidebar">
          <div class="block">
            <h3>Hola <%= current_user.name.capitalize rescue ''%> </h3>
            <div class="content">
              <p>Comparte tus espacios, reduce los desplazamientos y ayudanos a construir un mundo m치s sano!</p>
            </div>
          </div>
          <div class="block">
            <h3>Switch Theme</h3>
            <ul class="navigation">
              <li><%= link_to "Espacios", coworking_spaces_path %></li>
              <li><%= link_to "Productos", :controller => :tables, :action => :index, :owner_id => current_user, :layout => 'owners' %></li>
              <li><%= link_to "Reservas en mis espacios", :controller => :reservations, :action => :index %></li>

              <li><%= link_to "Mis reservas ("+(how_many_reservations? current_user).to_s+")",
                    :controller => 'reservations', :action => 'actives', :user => current_user %>
              </li>
              <li><%= link_to "Actividades", :controller => :activities, :action => :index %></li>
              <li>
                <%= link_to "Cerrar sesi칩n", destroy_admin_session_path %>
              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>
    
  </body>
</html>



